
.popup-content {
	width: 432px;
	height: 496px;
}

.loginContainer {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: #f0f2f5;
	padding: 130px 460px;
}
.leftContain{
	padding-top: 74px;
}
.leftContain h1 {
  font-size: 48px;
  color: #1877f2;
	font-weight: 700;
}
.leftContain p{
	font-size: 28px;
	font-weight: 400;
}
.rightContain {
  text-align: center;
}

.formLogin {
  text-align: center;
  width: 400px;
  height: 350px;
  border-radius: 12px;
  background-color: #fff;
}
.loginBtn,
.nameInput,
.passInput {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  padding: 12px 12px;
  outline: none;
  border: 1px solid #dddfe2;
	margin: 18px 18px 0;
}
.loginBtn{
	background-color: #1877f2;
	color: white;
	font-size: 20px;
	margin-bottom: 16px;
	cursor: pointer;
}
.horizontal{
	border: none;
	height: 1px;
	background-color: #90949c;
	margin: 19px;
}
.registerBtn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
	margin: auto;
	color: #fff;
	background-color: #42b72a;
	border-radius: 10px;
	cursor: pointer;
}
::placeholder {
  color: #90949c
}
/* popup css */
.popup-content {
	padding: 0;
	border-radius: 10px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}